<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="../public/imgenes-header-footer/Digital-Lips.svg">

</head>
<body>

    <%- include('./partials/navbar.ejs'); %>


<main>

    <article id="compra">
        
        <div class="producto">
            <div class="productoDetallado">
            <h1><%= product.product %></h1>
            <div class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="/img2/<%= product.img %>"></li>
                    <li><img src="/img2/<%= product.img %>"></li>
                    <li><img src="/img2/<%= product.img %>"></li>
                    <li><img src="/img2/<%= product.img %>"></li>
                </ul>
            
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            
                <div class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
            </div>
            <br>
            <div class="costado">
            <h1>$ <%= product.price %></h1>
            <h2>Características del producto</h2>
            <h3><%= product.description %></h3>
            <br>
            <div class="boton">
                <button class="boton1">CONTINUAR COMPRA</button>
                <br>
                <button class="boton2">AGREGAR AL CARRITO</button>
            </div>
            </div>
        </div>
        <br>

        <div class="container">
            <h1>Productos relacionados</h1>
            <div class="container1">
                <div class="carta1">
                    <p><img src="/img2/juguete2.png"></p>
                    <p>$ 28.000 
                        <br>
                    (Detalle)</p>
                </div>
                <br>
                <div class="carta2">
                    <p><img src="/img2/juguete3.png"></p>
                    <p>$ 15.000 <br> 
                    (Detalle)</p>
                </div>
                <br>
                <div class="carta3">
                    <p><img src="/img2/juguete4.png"></p>
                    <p>$ 12.000 <br> 
                    (Detalle)</p>
                </div>
            </div>
            </div>
    </article>

</main>

<%- include('./partials/addProduct.ejs'); %>
<%- include('./partials/editProduct.ejs'); %>


<%- include('./partials/footer.ejs'); %>

</body>
</html>