<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Digital pleasure</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/img/Digital-Lips.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

  <body>


  <%- include('./partials/navbar.ejs'); %>

<main class="seccion-home">
  <section class="carrusel">
    <div class="slide"><img src="img/carrusel.png" /></div>
  </section>
    <h2 class="ofertas">OFERTAS</h2>
       <div class="products">
        <% products.forEach(products => { %>
        <div class="items-product">
              <img class="imagen-ofertas" src="/img2/<%= products.img %>" alt="lenceria">
              <div class="description-product">
                <p class="descripcion"><%= products.product %></p>
                <p class ="descripcion"><%= products.price %></p>
                <a href="/products/<%= products.id %>/detail">
                <button type="submit">COMPRAR</button>
                </a>
              </div> 
          </div>
          <% }) %>


    <%- include('./partials/addProduct.ejs'); %>


<!-- FOOTER -->
    <%- include('./partials/footer.ejs'); %>

  </body>
</html>
